:host {
  height: 800px;
  overflow: auto;
  display: block;
}

table {
  width: 40%;
  margin: 20px;
  display: inline-table;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-list-hover {
  background: red;
}
